@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
	--header-purple: #481776;
	--gray: #5a6771;
	--bundle-bg: #dddddd;
	--light-gray: #7a8791;
	--white: #ffffff;
	--red: #e30450;
	--light-blue: #0092cf;
	--blue: #0069c3;
	--dark-blue: #481776;
	--green: #00837b;
}

p {
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	line-height: 2;
	width: 60%;
	color: var(--gray);
}

.section {
	width: 70%;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.section ul {
	display: flex;
	list-style-type: none;
}

.section .indented {
	margin-left: 80px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: var(--gray);
}

.heading {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-size: 50px;
	color: var(--header-purple);
	margin: 0;
}

.heading-status {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	font-size: 2em;
}

.not-submitted {
	color: var(--red);
}

.submitted {
	color: var(--green);
}

.dropdown label {
	font-size: 17px;
	font-weight: bold;
}

.button {
	border: none;
	background-color: var(--blue);
	color: var(--white);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 1.8px;
	transition: 0.3s background-color;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	margin-right: 20px;
	font-family: "Montserrat", sans-serif;
}

.button:hover {
	background-color: var(--dark-blue);
}

.button-disabled {
	background-color: var(--light-gray);
}

.button-disabled:hover {
	background-color: var(--light-gray);
}

.button-active {
	background-color: var(--light-blue);
}

.dropdown label select {
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	border: none;
	background-color: #eee;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bundle-box {
	margin-top: 10px;
	width: 70%;
	background-color: var(--bundle-bg);
	padding-left: 5px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: center;
}

.bundle-box span {
	color: #222;
	margin-left: 25px;
	font-weight: bold;
}

.bundle-box select {
	margin-left: 5px;
}

.bundle-label {
	margin-top: 10px;
}

.bundle-description {
	padding-left: 40px;
}

.selector-bundle-amount-chooser {
	margin-top: 8px;
}

.selector-bundle-button {
	transition: 0.3s background-color;
	background-color: var(--blue);
	color: var(--white);
	border: none;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.selector-bundle-button:hover {
	background-color: var(--dark-blue);
}

#selector-bundle-amount {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	vertical-align: middle;
	resize: none;
	border: none;
	width: 50px;
	height: 20px;
	background-color: var(--bundle-bg);
}
