<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Demo</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" media="screen" />
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body>
		<div class="selector-section">
			<ul class="selector-title">
				<li class="selector-heading">Location</li>
				<li class="selector-status not-submitted">✖</li>
			</ul>
			<div class="selector-main">
				<p>This is sample paragraph made to see how good this specific styling works. In the future, something more concrete and relating to the selection might be placed here.</p>
				<label for="selector-location">Select a data location: </label>
				<!-- TODO: Connect the options with the database via arguments to template -->
				<select name="Location" id="selector-location" class="selector-dropdown">
					<optgroup>
						<option value="0">Pittsburgh, PA</option>
						<option value="1">New York City, NY</option>
					</optgroup>
				</select>
			</div>
			<button class="submit-button">Submit</button>
		</div>
		<div class="selector-section">
			<ul class="selector-title">
				<li class="selector-heading">Cabinet Space</li>
				<li class="selector-status not-submitted">✖</li>
			</ul>
			<div class="selector-main">
				<p>This is sample paragraph made to see how good this specific styling works. In the future, something more concrete and relating to the selection might be placed here.</p>
				<div class="radio-container">
					<label>
						<input type="radio" value="0" name="r-cabinetspace" />
						Less than one cabinet
					</label>
					<br />
					<label>
						<input type="radio" value="1" name="r-cabinetspace" />
						More than one cabinet
					</label>
				</div>
			</div>
		</div>
	</body>
</html>
