<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Demo</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" media="screen" />
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body>
		<div class="selector-section" id="location-section">
			<ul class="selector-title">
				<li class="selector-heading">Location</li>
				<li class="selector-status not-submitted">✖</li>
			</ul>
			<div class="selector-main">
				<p>This is sample paragraph made to see how good this specific styling works. In the future, something more concrete and relating to the selection might be placed here.</p>
				<label for="selector-location">Select a data location: </label>
				<!-- TODO: Connect the options with the database via arguments to template -->
				<select name="Location" id="selector-location" class="selector-dropdown" onchange="setLocationStatus(false)">
					<optgroup>
						<option value="0">Pittsburgh, PA</option>
						<option value="1">New York City, NY</option>
					</optgroup>
				</select>
				<br />
				<button class="selector-button" onclick="setLocationStatus(true)">Submit</button>
			</div>
		</div>
		<div class="selector-section" id="cabinets-section">
			<ul class="selector-title">
				<li class="selector-heading">Cabinets</li>
				<li class="selector-status not-submitted">✖</li>
			</ul>
			<div class="selector-main">
				<p>This is sample paragraph made to see how good this specific styling works. In the future, something more concrete and relating to the selection might be placed here.</p>
				<div id="selector-cabinet-buttons">
					<button class="selector-button button-disabled" disabled="true" onclick="selectCabinetAmount(LESS_THAN_ONE)">Less than one</button>
					<button class="selector-button button-disabled" disabled="true" onclick="selectCabinetAmount(MORE_THAN_ONE)">More than one</button>
					<button class="selector-button button-disabled" disabled="true" onclick="selectCabinetAmount(SPECIAL_BUNDLE)">Bundles</button>
				</div>
				<div id="selector-cabinet-attributes">
					<div id="selector-less-attributes" hidden>
						<p>1</p>
					</div>
					<div id="selector-more-attributes" hidden>
						<p>2</p>
					</div>
					<div id="selector-bundle-attributes" hidden>
						<div class="bundle">
							<div class="bundle-label">
								<input id="bundle-label0" type="radio" name="r-bundles" onclick="setParentStatus('cabinets-section', false)"></input>
								<label for="bundle-label0">Bundle 1</label>
							</div>
							<div class="bundle-description">
								<p>MRC: $100</p>
								<p>NRC: $200</p>
							</div>
						</div>
						<div class="bundle">
							<div class="bundle-label">
								<input id="bundle-label1" type="radio" name="r-bundles" onclick="setParentStatus('cabinets-section', false)"></input>
								<label for="bundle-label1">Bundle 2</label>
							</div>
							<div class="bundle-description">
								<p>MRC: $150</p>
								<p>NRC: $200</p>
							</div>
						</div>
					</div>
				</div>
				<button class="selector-button button-disabled" disabled="true" onclick="setParentStatus('cabinets-section', true)">Submit</button>
			</div>
		</div>
	</body>
</html>
